<div class="row mt-5 mb-5">
  <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">

    <!-- Personal Information -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="container mb-0">
      <h4 class="mt-2">Personal Information :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <td scope="col">Yasin Hasim Tamboli</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Date of Birth :</th>
            <td>14/12/2000</td>
          </tr>
          <tr>
            <th scope="row">Phone :</th>
            <td>7620843368</td>
          </tr>
          <tr>
            <th scope="row">Email ID :</th>
            <td>tamboliyasin02@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">Address :</th>
            <td> Mohol , Solapur , Maharashtra</td>
          </tr>
          <tr>
            <th scope="row">Other</th>
            <td colspan="2">Gender : Male , Religion : Muslim , Nationality : Indian</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
    <!-- Personal Information -->


    <!-- Academic Qualifications -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">    
    <div class="container">
      <h4 class="mt-2">Academic Qualifications :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <thead>
          <tr>
            <th scope="col">Course</th>
            <th scope="col">College/School</th>
            <th scope="col">percentage </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BCS (2018-2021)</th>
            <td>Vidya Pratishthan's Commerce & Science College Indapur</td>
            <td>80</td>
          </tr>
          <tr>
            <th scope="row">Class XII (2018)</th>
            <td>Nagnath Vidyalaya & Junior College Mohol</td>
            <td>50</td>

          </tr>
          <tr>
            <th scope="row">Class X (2016)</th>
            <td>Nagnath Vidyalaya & Junior College Mohol</td>
            <td>81</td>

          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
    <!-- Academic Qualifications -->


    <!-- Technical Skills : -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="container mb-0">
      <h4 class="mt-2">Technical Skills :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <thead>
          <tr>
            <th scope="col">Languages</th>
            <td scope="col">Core Java , Python[Basic] , HTML , CSS</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Frameworks</th>
            <td>Django , Flutter , Angular</td>
          </tr>
          <tr>
            <th scope="row">DB Languages</th>
            <td>MYSQL , Mongodb</td>
          </tr>
          <tr>
            <th scope="row">Tools</th>
            <td colspan="2">VS Code , Git & Github , Firebase</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>

    <!-- Technical Skills : -->


    <!-- Project -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="container mb-0">
      <h4 class="mt-2">Project :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <tbody>
          <tr>
            <th scope="col">College Website(Using Django & Bootstrap)</th>
          </tr>
          <tr>
            <th scope="row">Whatsapp_Clone(Using Flutter)</th>
          </tr>
          <tr>
            <th scope="row">MyPortfolio(Using Angular & Bootstrap)</th>
          </tr>

        </tbody>
      </table>
    </div>
    </div>
    </div>
    <!-- Project -->

    <!-- Certificates  -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">    

    <div class="container mb-0">
      <h4 class="mt-2">Certificates :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <tbody>
          <tr>
            <th scope="col"><a href="https://ibb.co/6FVc3rZ">Python Basics For Data Science</a></th>
          </tr>
          <tr>
            <th scope="row"><a href="https://ibb.co/ncW5f2s">Introduction to Cloud Development with HTML , CSS , JS</a>
            </th>
          </tr>
          <tr>
            <th scope="row"><a href="https://ibb.co/4M0dytK">Databases for Development Foundation</a></th>
          </tr>

        </tbody>
      </table>
    </div>
    </div>
    </div>

    <!-- Certificates  -->

    <!-- Communication Languages -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">    
    <div class="container mb-0">
      <h4 class="mt-2">Communication Languages :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <tbody>
          <tr>
            <th scope="col">Hindi</th>
          </tr>
          <tr>
            <th scope="row">English</th>
          </tr>
          <tr>
            <th scope="row">Marathi</th>
          </tr>

        </tbody>
      </table>
    </div>
    </div>
    </div>

    <!-- Communication Languages -->



    <!-- Intersts -->
    <div class="row mt-5 mb-5">
      <div class="col-lg-10 col-12 container border border-secondary shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="container mb-0">
      <h4 class="mt-2">Intersts :</h4><br>
      <table class="table table-bordered border-primary mt-1">
        <tbody>
          <tr>
            <th scope="col">Learn and Work on new technologies[AI , ML , Cloud]</th>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
    <!-- Intersts -->
  </div>
</div>