<nav class="navbar navbar-light" style="background-color: beige;">
    <div class="container-fluid">
        <!-- <span class="navbar-brand mb-0 h1 text-dark" routerLink="/"><i class="fas fa-award"></i>Profile</span>
        <span class="mx-auto"></span> -->
        <button class="btn btn-info mx-2" routerLink="/">Profile</button>
        <button class="btn btn-info mx-2" routerLink="/about">About</button>
        <!-- <button class="btn btn-info mx-2" routerLink="/project">Project</button> -->
    
    </div>

</nav>